{% extends 'master.html' %}
{% block title %}Change Password{% endblock %}
{% block content %}

<div class="container mt-4">
    <div class="row">
        <div class="col-sm-8">
            <h4>Change Password</h4>
            <div class="card p-4">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
                
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label>Current Password</label>
                        <input type="password" name="current_password" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label>New Password</label>
                        <input type="password" id="new_password" name="new_password" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label>Confirm New Password</label>
                        <input type="password" id="confirm_password" name="confirm_password" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Update Password</button>
                </form>
            </div>
        </div>
    </div>
</div>



<script>
    function validatePassword() {
        var newPassword = document.getElementById("new_password").value;
        var confirmPassword = document.getElementById("confirm_password").value;
    
        if (newPassword !== confirmPassword) {
            alert("New Password and Confirm Password do not match!");
            return false;  // Prevent form submission
        }
        return true;  // Allow form submission
    }
    </script>



{% endblock %}
